<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/credit.css" />
    <link rel="icon" href="/fav-heart-icon.png" />
    <title>Credits</title>
  </head>

  <body>
    <div id="transition-overlay"></div>

    <audio id="bg-music" src="/audio/8-bit-menu-slower.mp3" loop></audio>

    <div class="top">
      <div class="rose-top-container">
        <img
          id="rose1"
          class="rose-top-img"
          src="/images/credit/rose-upper-corner-left.png"
          alt=""
        />
      </div>
      <div class="rose-bottom-container">
        <img
          id="rose2"
          class="rose-bottom-img"
          src="/images/credit/rose-lower-corner-right.png"
          alt=""
        />
      </div>
    </div>

    <div class="content-container">
      <div class="content">
        <br />
        <section id="opening">
          <div class="nav-btns">
            <a class="game-menu" href="/index.html" id="start-link"
              >Game Menu</a
            >

            <a class="start" href="/templates/start.html" id="credits-link"
              >Start</a
            >

            <div id="toggle-theme" class="toggle-btn">Dark mode</div>
          </div>
          <br />
          <h1>Thank you so much for visiting!</h1>
          <h2>
            Learn more about the author and <br />know the people behind the
            art.
          </h2>
        </section>

        <section id="credit">
          <br />
          <h3>Credits</h3>

          <div class="music-container">
            <h4>Music</h4>
            <div id="music-credits"></div>
          </div>
        </section>

        <br />
        <section id="favorites">
          <h3>Author</h3>
          <p class="author-bio">
            I love <span id="change">flowers🌺</span>! <br />
            I play 8-bit, visual novels, problem-solving
            <span class="color">games</span>.🎮 <br />I have taste in just about
            every <span class="color">music</span> genre. I like alternative
            rock, independent artists, phonk music.🎧 <br /><br />My favorite
            color is <span class="red">red</span>.🌹<br /><br />When it comes to
            <span class="color">anime</span>, I prefer mystery and action with
            strong storytelling—some of my favorites include 91 Days, Link
            Click, Tokyo Ghoul, Blue Lock, The Case Study of Vanitas, and Kaiju
            No. 8, just to name a few.🍿<br /><br />I have more of a
            <span class="color">sweet</span> tooth than a love for food—cake is
            my top pick.🍰<br /><br />Right now, my
            <span class="color">goal</span> is to strengthen my technical skills
            and build confidence.🎯<br /><br />In terms of
            <span class="color">work</span>, I thrive best in part-time,
            overnight, remote, and inclusive environments.🏡<br /><br />I’m a
            <span class="color">versatile developer</span> meaning I have
            experience and a desire for many technologies, but
            <span class="color">game development</span> seems the most
            interesting.💻
          </p>
        </section>
      </div>
    </div>
    <script src="/js/credit.js"></script>
  </body>
</html>
