<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tiny5&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles/index.css">
    <title>Alayna Taylor</title>
</head>

<body>
    <div class="hidden-cover">
        <img class="eyes" src="/images/eyes.jpeg" alt="">
    </div>

    <nav id="page-nav">
        <div class="nav-element"><a href="#experience">Experience</a></div>
        <div class="nav-element"><a href="#skills">Skills</a></div>
        <div class="nav-element"><a href="#about">About</a></div>
        <div class="nav-element"><a href="#projects">Projects</a></div>
        <div class="nav-element"><a href="#connect">Connect</a></div>

    </nav>

    <div class="landing-container">
        <div class="landing-bg"></div>
        <div class="landing-overlay"></div>
        <div class="landing-wrapper">
            <div class="pfp-wrapper">
                <img class="pfp" src="/images/cutelulu.jpg" alt="">
            </div>


            <h1 class="title-page" data-text="Alayna Taylor">Alayna Taylor</h1>

            <div class="dev-quote-wrapper">
                <p class="dev-quote">Creativity and Innovation at it's finest.</p>
            </div>
        </div>
    </div>

    <section id="about">
        <h2>Introduction</h2>


        <div class="card-about">
            <div class="bg-card"></div>
            <div class="about-overlay"></div>
            <p class="about-bio">"🌺I'm a versatile developer with experience in game, mobile, web, and cloud
                development. I thrive on
                exploring
                different technologies and creating innovative solutions.
                I can work on both front-end and back-end development, while blending creativity with every
                endeavor.
                With a passion for problem-solving and continuous learning, I’m always looking for new ways to
                expand my
                skills and take
                on exciting challenges.🌺

                🌟Outside of tech, I enjoy creative pursuits such as in traditional and digital art, content
                creation,
                philosophy/psychology topics, or diving into any project that sparks my curiosity!🌟"</p>
        </div>
    </section>

    <section id="experience">

        <h2>Work Experience</h2>
        <div class="exp-container">
            <div class="exp-bg"></div>
            <div class="exp-overlay"></div>

            <div class="exp-row">
                <div class="accordion">
                    <div class="accordion-item">
                        <div id="exp-item1" class="accordion-header">Java Cloud Developer</div>
                        <div class="accordion-content">My position, on the Digital Technology team, was to primarily
                            handle pre-travel activities and
                            ancillary services; that also provided real-time data to many applications within the
                            group to help
                            generate tickets, send receipts and notifications, keep track of accrued miles, and much
                            more.
                            Assisted with migrating an application to AWS cloud using Java and Spring Boot for
                            application
                            development, GitHub Actions for CI/CD, Docker, SNS/SQS/ActiveMQ and JMS messaging, and
                            DataDog for logging and tracing.</div>
                    </div>

                    <div class="accordion-item">
                        <div id="exp-item2" class="accordion-header"> Android App Developer</div>
                        <div class="accordion-content">I was a part of the Customer Mobile App Developer team.
                            This team builds features for customers at all phases of their travel journey, whether
                            shopping for
                            a flight, managing their reservation, checking in for a flight, watching a movie
                            onboard, tracking
                            their bags, etc.
                            Here, I gained skills in using Android Studio and coding in the Kotlin programming
                            language.</div>
                    </div>


                    <div class="accordion-item">
                        <div id="exp-item3" class="accordion-header">Technical Analyst</div>
                        <div class="accordion-content">This was an educational experience for me to acquire business
                            and IT fundamentals.
                            I gained expertise in MS O7ice such as in Excel, PowerPoint, and Word.
                            On a project, I wrote custom HTML/CSS/JS for my online autobiography.
                            Coordinated with other engineers to evaluate and improve software and hardware
                            interfaces.
                            Studied user requirements to gain a vital understanding of project initiatives and
                            deadlines.
                            I created an augmented reality program using the Unity engine to give to United
                            Airlines.</div>
                    </div>

                    <div class="accordion-item">
                        <div id="exp-item4" class="accordion-header">Customer Service Deli Clerk</div>
                        <div class="accordion-content">Communicated effectively with customers to plan large or
                            specialized orders, provided customers
                            with recommendations, and handled customer complaints. Collaborated with team to ensure
                            tasks were completed on time with less hassle. Maintained clean, trash-free workspaces
                            to
                            maximize productivity and safety. Regulated shelves by stocking and organizing
                            merchandize
                            daily, with a newer items to the back procedure.</div>
                    </div>

                </div>

                <div class="exp-side">
                    <div class="skills-company-wrapper">
                        <div class="exp-company">Company:
                            <div class="exp-company-text">&nbspNone
                            </div>
                        </div>


                        <div class="exp-skills">
                            Skills:
                            <div class="exp-skills-text">&nbspNone</div>
                        </div>

                        <div class="exp-city">
                            City:
                            <div class="exp-city-text">&nbspNone</div>
                        </div>

                        <div class="exp-date">
                            Date:
                            <div class="exp-date-text">&nbspNone</div>
                        </div>
                    </div>

                    <div class="exp-content-wrapper">
                        <div class="exp-content">Content:

                        </div>
                    </div>
                </div>
            </div>

            <div class="resume-wrapper">

                <p>Resume</p>

                <img class="resume-pdf" src="/icons/pdf.png" alt="">
            </div>
        </div>
    </section>

    <section id="skills">
        <h2>Skills</h2>
        <div class="skills-wrapper">
            <div class="skills-overlay"></div>
            <div class="skills-bg"></div>
            <div class="skills-nav-container">
                <nav class="skills-nav-header">
                    <button id="lan" class="skills-nav-btn">Languages</button>
                    <button id="frame" class="skills-nav-btn">Frameworks</button>
                    <button id="tools" class="skills-nav-btn">Tools</button>
                    <button id="database" class="skills-nav-btn">Databases</button>
                    <button id="soft" class="skills-nav-btn">Soft Skills</button>
                </nav>
            </div>

            <div class="skills-column">

                <div class="tab-btn-wrapper">
                    <img class="tab-btn" src="/icons/right-arrow (1).png" alt="">
                </div>

                <div class="skills-tab">
                    <div class="radio-levels">

                        <div class="radio-column">
                            <input id="nov-rad" class="skills-radio" type="radio" name="filter" id="novice">
                            <label for="novice">Novice</label>
                        </div>

                        <div class="radio-column">
                            <input id="int-rad" class="skills-radio" type="radio" name="filter" id="intermediate">
                            <label for="intermediate">Intermediate</label>
                        </div>

                        <div class="radio-column">
                            <input id="adv-rad" class="skills-radio" type="radio" name="filter" id="advanced">
                            <label for="advanced">Advanced</label>
                        </div>

                    </div>

                    <div>
                        <div class="radio-column">
                            <input id="front-rad" class="skills-radio1" type="radio" name="filter" id="frontend">
                            <label for="frontend">Frontend</label>
                        </div>

                        <div class="radio-column">
                            <input id="back-rad" class="skills-radio1" type="radio" name="filter" id="backend">
                            <label for="backend">Backend</label>
                        </div>

                        <div class="radio-column">
                            <input id="game-rad" class="skills-radio1" type="radio" name="filter" id="gamedev">
                            <label for="gamedev">Game Dev</label>
                        </div>
                    </div>
                </div>

                <div class="skills-content-container">
                    <div class="skills-content">
                        <div id="lan-grid" class="grid">
                            <div data-level="int" data-type="front" class="skills-content-element">HTML<img
                                    class="skills-icon" src="/icons/html-5 (2).png" alt=""></div>
                            <div data-level="int" data-type="front" class="skills-content-element">CSS<img
                                    class="skills-icon" src="/icons/css-3 (1).png" alt=""></div>
                            <div data-level="nov" data-type="front" class="skills-content-element">JavaScript<img
                                    class="skills-icon" src="/icons/js.png" alt=""></div>
                            <div data-level="nov" data-type="back" class="skills-content-element">&nbspJava <img
                                    class="skills-icon" src="/icons/java.png" alt=""></div>
                            <div data-level="nov" data-type="front" class="skills-content-element">Kotlin <img
                                    class="skills-icon" src="/icons/Kotlin Full Color Logo Mark RGB.svg" alt=""></div>
                            <div data-level="int" data-type="game" class="skills-content-element">Lua <img
                                    class="skills-icon" src="/icons/lua-svgrepo-com.svg" alt=""></div>
                            <div data-level="nov" data-type="back" class="skills-content-element">Python <img
                                    class="skills-icon" src="/icons/python.png" alt=""></div>
                            <div data-level="nov" data-type="game" class="skills-content-element">C# <img
                                    class="skills-icon" src="/icons/c-sharp-c.svg" alt=""></div>
                        </div>

                        <div id="frame-grid" class="grid">
                            <div data-level="nov" data-type="back">Springboot</div>
                            <div data-level="nov" data-type="front">React</div>
                            <div data-level="nov" data-type="front">Angular</div>
                            <div data-level="nov" data-type="front">Bootstrap</div>
                            <div data-level="nov" data-type="back">Flask</div>
                        </div>

                        <div id="tools-grid" class="grid">
                            <div data-level="int" data-type="">Git</div>
                            <div data-level="int" data-type="">GitHub</div>
                            <div data-level="nov" data-type="">Android Studio</div>
                            <div data-level="int" data-type="game">Roblox Studio</div>
                            <div data-level="nov" data-type="game">Unity</div>
                            <div data-level="int" data-type="">Visual Studio Code</div>
                            <div data-level="nov" data-type="back">Postman</div>
                            <div data-level="nov" data-type="back">Docker</div>
                        </div>

                        <div id="database-grid" class="grid">
                            <div data-level="nov" data-type="back">SQL</div>
                            <div data-level="nov" data-type="back">MYSQL</div>
                            <div data-level="nov" data-type="back">MongoDB</div>
                            <div data-level="nov" data-type="back">AWS</div>
                        </div>

                        <div id="soft-grid" class="grid">
                            <div>Detail-Oriented</div>
                            <div>Effective Communication</div>
                            <div>Time-Management</div>
                            <div>Teamwork</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
    </section>

    <section id="projects">
        <h2>Projects</h2>
        <div>
            <ul>

            </ul>
        </div>
    </section>

    <dl>
        <dt></dt>
        <dd></dd>
    </dl>

    <section id="connect">
        <h2 class="con-title">Connect</h2>
        <div class="connect-container">
            <div class="connect-list">

                <div>
                    <img class="icon" src="/images/linkedin.png" alt="">
                    <a href="https://www.linkedin.com/in/just-getting-started/" target="_blank">LinkedIn</a>
                </div>

                <div>
                    <img class="icon" src="/images/github.png" alt="">
                    <a href="https://github.com/ROM-01" target="_blank">GitHub</a>
                </div>

                <div>
                    <img class="icon" src="/images/gmail.png" alt="">
                    <a href="https://github.com/ROM-01" target="_blank">Gmail</a>
                </div>
            </div>
        </div>
    </section>

    <div>
        <a href="/templates/game-menu.html">Game Menu</a>
    </div>

    <script src="/app/index.js"></script>
    </div>
</body>

</html>