<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jersey+20&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Tiny5&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/styles/start.css" />
    <link rel="stylesheet" href="/styles/start/exp.css" />
    <link rel="stylesheet" href="/styles/start/skills.css" />
    <link rel="stylesheet" href="/styles/start/projects.css" />
    <link rel="stylesheet" href="/styles/start/connect.css" />
    <link rel="stylesheet" href="/styles/start/dialog.css" />
    <link rel="stylesheet" href="/styles/start/side-menu.css" />

    <link rel="icon" href="/fav-heart-icon.png" />
    <title>Alayna Taylor</title>
  </head>

  <body>
    <div id="transition-overlay"></div>

    <div class="hidden-cover">
      <img class="eyes" src="/images/start/eyes.jpeg" alt="" />
    </div>

    <nav id="page-nav">
      <div class="nav-element"><a href="#experience">Experience</a></div>
      <div class="nav-element"><a href="#skills">Skills</a></div>
      <div class="nav-element"><a href="#about">About</a></div>
      <div class="nav-element"><a href="#projects">Projects</a></div>
      <div class="nav-element"><a href="#connect">Contact</a></div>
    </nav>

    <div class="side-menu-container">
      <div class="side-menu-btn">
        <img class="side-menu-icon" src="/icons/left-arrow.png" alt="" />
      </div>
      <div class="side-menu">
        <div class="music-menu">
          <div class="music-title">Music Settings</div>
          <div class="music-icon-container">
            <img class="music-icon" src="/icons/album.svg" alt="" />
            <div id="player">
              <p id="now-playing">Now Playing:</p>
            </div>
          </div>
          <audio id="audio" autoplay controls></audio>
          <div>
            <button id="music-prev-btn"><span>⏮️ Prev</span></button>
            <button id="music-next-btn"><span>Next ⏭️</span></button>
          </div>
        </div>

        <div class="credit-menu">
          <div class="game-title">
            <a href="/index.html" class="start-link">To Game Menu</a>
          </div>

          <div class="credit-title">
            <a href="/templates/credits.html" class="start-link">To Credit</a>
          </div>
        </div>
      </div>
    </div>

    <div class="landing-container">
      <video class="landing-bg" autoplay muted loop playsinline>
        <source src="/videos/_1-ezgif.com-gif-to-webm-converter.webm">
      </video>
      <div class="landing-overlay"></div>
      <div class="landing-wrapper">
        <div class="pfp-wrapper">
          <img class="pfp" src="/images/start/IMG_7888.webp" width="400" height="300" alt="..."/>
        </div>
        <h1 class="title-page" data-text="Alayna Taylor">Alayna Taylor</h1>

        <div class="dev-quote-wrapper">
          <p class="dev-quote">"Be yourself!" - Me</p>
        </div>
      </div>
    </div>

    <section id="about" class="section">
      <h2>Introduction</h2>

      <div class="about-container">
        <div class="card-about1">
          <div class="bg-card1"></div>
          <video class="bg-card1" autoplay muted loop playsinline loading="lazy">
            <source src="/videos/Welcometotheplaceontheothersideofmidnight_Mladenorevic-ezgif.com-gif-to-webm-converter.webm">
          </video>
          <div class="about-overlay1"></div>
          <h3 class="card-title1">About</h3>
          <p class="about-bio1">
            🌺I'm a <span class="about-span">versatile developer</span> with
            experience in game, mobile, web, and cloud development.
            <br />
            <br />
            I thrive on exploring different technologies and creating innovative
            solutions. I can work on both front-end and back-end development,
            while blending creativity with every endeavor.
            <br />
            <br />
            With a passion for problem-solving and continuous learning, I’m
            always looking for new ways to expand my skills and take on exciting
            challenges.🌺
            <br />
            <br />
          </p>

          <video class="cat-gif" autoplay muted loop playsinline loading="lazy">
            <source src="/videos/AnimatedGIF-ezgif.com-gif-to-webm-converter.webm">
          </video>
        </div>

        <div class="about-right-side">
          <div class="card-about2">
            <video class="bg-card2" autoplay muted loop playsinline loading="lazy">
              <source src="/videos/_10-ezgif.com-gif-to-webm-converter.webm">
            </video>
            <div class="about-overlay2"></div>
            <h3 class="card-title2">Employment Status</h3>
            <p class="about-bio2">
              Currently employed, but open to new opportunities.
            </p>
          </div>

          <div class="card-about3">
            <video class="bg-card3" autoplay muted loop playsinline loading="lazy">
              <source src="/videos/8Bit_Metro_People-ezgif.com-gif-to-webm-converter.webm">
              </video>
            <div class="about-overlay3"></div>
            <h3 class="card-title3">Highlights</h3>
            <p class="about-bio3"></p>

            <ul>
              <li class="about-bio3-list">
                &nbsp I design and develop software that solves real problems.
              </li>

              <li class="about-bio3-list">
                &nbsp I write scripts that automate repetitive work that saves
                time.
              </li>
              <li class="about-bio3-list">
                &nbsp I improve customer satisfaction with fast, friendly, and
                reliable service.
              </li>

              <li class="about-bio3-list">
                &nbsp I support your team with strong communication,
                problem-solving, and a willingness to learn.
              </li>

              <li class="about-bio3-list">
                &nbsp I troubleshoot and resolve technical issues to keep every
                system running smoothly.
              </li>

              <li class="about-bio3-list">
                &nbsp I bring creative thinking to improve workflows and make
                things more efficient.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="experience" class="section">
      <h2>Work Experience</h2>
      <div class="exp-container">
        <video class="exp-bg" autoplay muted loop playsinline loading="lazy">
          <source src="/videos/_11-ezgif.com-gif-to-webm-converter.webm">
        </video>
        <div class="exp-overlay"></div>

        <div class="exp-row">
          <div class="accordion">
            <div class="accordion-item">
              <div id="exp-item1" class="accordion-header">
                Java Cloud Developer
              </div>
              <div class="accordion-content">
                My position, on the Digital Technology team, was to primarily
                handle pre-travel activities and ancillary services; that also
                provided real-time data to many applications within the group to
                help generate tickets, send receipts and notifications, keep
                track of accrued miles, and much more. Assisted with migrating
                an application to AWS cloud using Java and Spring Boot for
                application development, GitHub Actions for CI/CD, Docker,
                SNS/SQS/ActiveMQ and JMS messaging, and DataDog for logging and
                tracing.
              </div>
            </div>

            <div class="accordion-item">
              <div id="exp-item2" class="accordion-header">
                Android App Developer
              </div>
              <div class="accordion-content">
                I was apart of the Customer Mobile App Developer team. My team
                was responsible for building features for customers at all
                phases of their travel journey, whether shopping for a flight,
                managing their reservation, checking in for a flight, watching a
                movie onboard, tracking their bags, etc. Here, I gained skills
                in using Android Studio, coding in the Kotlin programming
                language, and debugging/testing.
              </div>
            </div>

            <div class="accordion-item">
              <div id="exp-item3" class="accordion-header">
                Technical Analyst
              </div>
              <div class="accordion-content">
                This was an educational experience for me to acquire business
                and IT fundamentals. I gained expertise in MS Office such as in
                Excel, PowerPoint, and Word. On a portfolio project, I wrote
                custom HTML/CSS/JS. I was put on a team of five members which is
                why called ourselves team i5. <br /><br />Here we created a
                product for United Airlines field agents so they can know which
                machines or devices have a good, caution, or bad status. My
                responsibility was to create the AR (augmented reality) for our
                application which was a new experience for me but I got it to
                work. I coordinated with other engineers to evaluate and improve
                software and hardware interfaces. Studied user requirements to
                gain a vital understanding of project initiatives and deadlines.
              </div>
            </div>

            <div class="accordion-item">
              <div id="exp-item4" class="accordion-header">
                Customer Service Deli Clerk
              </div>
              <div class="accordion-content">
                Communicated effectively with customers to plan large or
                specialized orders, provided customers with recommendations, and
                handled customer complaints. <br />Collaborated with team to
                ensure tasks were completed on time with less hassle. Maintained
                clean, trash-free workspaces to maximize productivity and
                safety. Regulated shelves by stocking and organizing merchandise
                daily, with a newer items to the back procedure.
              </div>
            </div>
          </div>

          <div class="exp-side">
            <div class="exp-side-overlay"></div>
            <div class="skills-company-wrapper">
              <div class="exp-company">
                Company:
                <div class="exp-company-text">&nbspNone</div>
              </div>

              <div class="exp-skills">
                Skills:
                <div class="exp-skills-text">&nbspNone</div>
              </div>

              <div class="exp-city">
                Location:
                <div class="exp-city-text">&nbspNone</div>
              </div>

              <div class="exp-date">
                Date:
                <div class="exp-date-text">&nbspNone</div>
              </div>
            </div>

            <div class="exp-content-wrapper">
              <div class="exp-content">Content: &nbspNone</div>
            </div>
          </div>
        </div>

        <div class="resume-wrapper">
          <p>Resume</p>
          <img class="resume-pdf" src="/icons/pdf.png" alt="" />
        </div>
      </div>
    </section>

    <section id="skills" class="section">
      <h2>Tech Stack</h2>
      <div class="skills-container">
        <div class="skills-overlay"></div>
        <video class="skills-bg" autoplay muted loop playsinline loading="lazy">
          <source src="/videos/_8-ezgif.com-gif-to-webm-converter.webm">
        </video>

        <div>
          <div class="skills-nav-container">
            <div class="skills-nav-and-radio">
              <div class="skills-tab" id="skills-tab">
                <div class="radio1">
                  <div class="radio-column">
                    <input
                      id="nov-rad"
                      class="skills-radio1"
                      type="radio"
                      name="level-filter"
                      value="nov"
                    />
                    <label for="nov-rad">Novice</label>
                  </div>
                  <div class="radio-column">
                    <input
                      id="int-rad"
                      class="skills-radio1"
                      type="radio"
                      name="level-filter"
                      value="int"
                    />
                    <label for="int-rad">Intermediate</label>
                  </div>
                  <div class="radio-column">
                    <input
                      id="adv-rad"
                      class="skills-radio1"
                      type="radio"
                      name="level-filter"
                      value="adv"
                    />
                    <label for="adv-rad">Advanced</label>
                  </div>
                </div>
                <div class="radio2">
                  <div class="radio-column">
                    <input
                      id="front-rad"
                      class="skills-radio2"
                      type="radio"
                      name="type-filter"
                      value="front"
                    />
                    <label for="front-rad">Frontend</label>
                  </div>
                  <div class="radio-column">
                    <input
                      id="back-rad"
                      class="skills-radio2"
                      type="radio"
                      name="type-filter"
                      value="back"
                    />
                    <label for="back-rad">Backend</label>
                  </div>
                  <div class="radio-column">
                    <input
                      id="game-rad"
                      class="skills-radio2"
                      type="radio"
                      name="type-filter"
                      value="game"
                    />
                    <label for="game-rad">Game Dev</label>
                  </div>
                </div>
              </div>
              <div class="tab-btn-wrapper">
                <img
                  class="tab-btn-icon"
                  src="/icons/left-arrow.png"
                  alt="Toggle Filters" loading="lazy"
                />
              </div>
            </div>

            <div>
              <nav class="skills-nav-header">
                <button id="lan" class="skills-nav-btn">Languages</button>
                <button id="frame" class="skills-nav-btn">
                  Frameworks Libraries
                </button>
                <button id="tools" class="skills-nav-btn">Tools</button>
                <button id="database" class="skills-nav-btn">Databases</button>
                <button id="soft" class="skills-nav-btn">Soft Skills</button>
              </nav>

              <div class="skills-content-container">
                <div class="skills-content">
                  <div id="lan-grid" class="grid"></div>
                  <div id="frame-grid" class="grid"></div>
                  <div id="tools-grid" class="grid"></div>
                  <div id="database-grid" class="grid"></div>
                  <div id="soft-grid" class="grid"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="projects">
      <h2>Personal Projects</h2>
      <div class="project-container">
        <video class="project-bg" autoplay muted loop playsinline loading="lazy">
          <source src="/videos/_6-ezgif.com-gif-to-webm-converter.webm">
        </video>
        <div class="project-overlay"></div>
        <div class="carousel">
          <button class="prev">‹</button>
          <div class="carousel-track"></div>
          <button class="next">›</button>
        </div>
      </div>
    </section>

    <section id="dialog">
      <div class="dialog-container">
        <div class="dialog-img-wrapper">
          <img
            class="dialog-img"
            src="/images/8-bit-me/8-bit-me-smile.png"
            alt=""
          />
        </div>

        <div class="dialog-textbox">
          <div class="dialog-textbox-top">
            <h4>Alayna</h4>
            <img src="/icons/exit-dialog.png" alt="" />
          </div>

          <div class="dialog-textbox-bottom">
            <p>Hi hi dummy text</p>
          </div>
        </div>
      </div>
    </section>

    <div class="bell-container">
      <img src="/icons/bell.png" alt="" />
    </div>

    <section id="connect" class="section">
      <h2 class="con-title">Impressed? <br /><br /><br />Let's Connect!</h2>
      <div class="connect-container">
        <div class="connect-section">
          <video class="connect-bg" autoplay muted loop playsinline loading="lazy">
            <source src="/videos/_9-ezgif.com-gif-to-webm-converter.webm">
          </video>
          <div class="connect-overlay"></div>
          <div class="connect-list">
            <div class="socials-container">
              <h3 class="social-title">Socials</h3>
              <div class="socials">
                <div>
                  <a
                    href="https://www.linkedin.com/in/just-getting-started/"
                    target="_blank"
                    ><img class="icon" src="/icons/linkedin.png" loading="lazy" alt=""
                  /></a>
                </div>

                <div>
                  <a href="https://github.com/ROM-01" target="_blank"
                    ><img class="icon" src="/icons/skills/github.jpg" loading="lazy" alt=""
                  /></a>
                </div>

                <div>
                  <a
                    href="https://mail.google.com/mail/?view=cm&fs=1&to=alaynaonetay@gmail.com"
                    target="_blank"
                    ><img class="icon" src="/icons/gmail.png" loading="lazy" alt=""
                  /></a>
                </div>
              </div>
              <h3 class="social-number">+1 (708) 506 2319</h3>
              <h4 class="social-preference">Text preferred</h4>
            </div>
          </div>

          <section id="form">
            <div class="message-container">
              <h3 class="leave-title">Leave a Message</h3>

              <div class="form-container">
                <form class="message-form" name="leave_message">
                  <div class="input">
                    <label for="usersName">Name:</label>
                    <input
                      type="text"
                      name="usersName"
                      id="users-name"
                      required
                    />
                  </div>

                  <div class="input">
                    <label for="usersEmail">Email: </label>
                    <input
                      type="email"
                      name="usersEmail"
                      id="users-email"
                      required
                    />
                  </div>

                  <label for="usersMessage">Input:</label>
                  <textarea
                    name="usersMessage"
                    id="users-message"
                    required
                    maxlength="20"
                    placeholder="Write your message here..."
                  ></textarea>

                  <button class="form-btn" type="submit">
                    <span>Submit</span>
                  </button>
                </form>
              </div>

              <section id="messages">
                <h3>Messages</h3>
                <ul class="messages-list"></ul>
              </section>
            </div>
          </section>
        </div>
      </div>
    </section>

    <script type="module" src="/js/start.js"></script>
    <script type="module" src="/js/start-js/exp.js"></script>
    <script type="module" src="/js/start-js/dialog.js"></script>
    <script type="module" src="/js/start-js/skills.js"></script>
    <script type="module" src="/js/start-js/projects.js"></script>
    <script type="module" src="/js/start-js/connect.js"></script>
  </body>
</html>
