/* Dialog */

.bell-container img {
    position: fixed;
    width: 5vw;
    bottom: 0;
    right: 0;
    padding: 1em;
    margin-right: 2vw;
    z-index: 3;
}

#dialog {
    display: none;
}

.dialog-container {
    position: fixed;
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 96vw;
    bottom: 0;
    text-shadow: 1px 1px 1px black;
    background-color: #120137;
    box-sizing: content-box;
    border: 3px solid black;
    border-radius: 15px;
    overflow: hidden;
    margin: 5px;
    z-index: 5;
}

.dialog-img-wrapper {
    padding: 1vw;
    width: 12vw;
    border-radius: 15px;
}

.dialog-img {
    width: 12vw;
    border-radius: 15px;
}

.dialog-textbox {
    background-color: #120137;
    width: 100%;
}

.dialog-textbox-top {
    display: flex;
    flex-direction: row;
}

.dialog-textbox-top h4 {
    width: 20vw;
    background-color: #39099b;
    font-size: 2.5vw;
    border-right: 3px solid black;
    border-left: 3px solid black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0;
    padding-top: 1vw;
    padding-bottom: 0.5vw;
}

.dialog-textbox-top img {
    width: 2em;
    height: 2em;
    background-color: #39099b;
    cursor: url('/icons/heart-click.png') 20 20, pointer;
    margin-left: auto;
}

.dialog-textbox-bottom {
    height: 100%;
    font-size: 2vw;
    text-align: left;
    background-color: #260143;
    border-top: 3px solid black;
    border-left: 3px solid black;
    margin: 0;
    padding-left: 1vw;
    padding-top: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vw;
}

.dialog-textbox-bottom p {
    background-color: #39099b;
    margin: 0;
    border: 0.3vw solid black;
    border-radius: 10px;
    padding-left: 2vw;
    padding-top: 2vw;
    padding-right: 2vw;
    padding-bottom: 3.5vw;
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .bell-container img {
        width: 8vw;
    }

}

/* For Mobile Portrait View */
@media screen and (max-device-width: 767px) and (orientation: portrait) {
    .bell-container img {
        width: 12vw;
    }
    .dialog-img-wrapper {
        width: 20vw;
    }
    .dialog-img {
        width: 20vw;
        margin-top: 4vw;
    }
    .dialog-textbox-top h4 {
        font-size: 1.5rem;
    }
    .dialog-textbox-top img {
        width: 1em;
        height: 1em;
    }
    .dialog-textbox-bottom {
        font-size: 1rem;
    }
}