html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
    font-family: "Press Start 2P", system-ui;
}

body {
    position: relative;
    z-index: 1;
}

.overlay-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(/images/game-menu/_\ \(20\).gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -5vw;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    z-index: 0;
    opacity: 0.5;
}

.title {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.my {
    position: relative;
    margin: auto;
    text-align: center;
    font-size: 4rem;
    padding-top: 2em;
    z-index: 1;
}
.portfolio {
    position: relative;
    margin: auto;
    text-align: center;
    font-size: 4rem;
    z-index: 1;
}

a {
    text-decoration: none;
    animation: glowPulse1 3s infinite ease-in-out;
}

/* Buttons */
.btn-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2em;
    color: white;
    font-size: 2rem;
    margin-top: 9em;
    z-index: 1;
}


.start-btn {

}

.credit-btn {

}

.start-btn, .credit-btn {
    margin: auto;
}

/* Side Menu */

.side-menu-container {
    position: fixed;
    display: flex;
    flex-direction: row;
    right: 0;
    z-index: 3;
    margin-top: 1vw;
}

.side-menu {
    width: fit-content;
    background-color: #00f0ff;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
    transition: all 0.3s ease;
    flex-wrap: wrap;
    overflow: hidden;
    padding-top: 2vw;
    padding-bottom: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

.side-menu-btn {
    margin: auto;
    box-sizing: content-box;
    background-color: rgb(255, 106, 228);
    border: 3px solid rgb(36, 0, 20);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 17vw 0.1vw 17vw 0.1vw;
}

.side-menu-icon {
    width: 1.5vw;
}

.side-menu-btn.rotated .side-menu-icon {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.music-menu {
    display: block;
    background-color: #39099b;
    border: 3px solid black;
    border-radius: 10px;
    padding-top: 0.1px;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1.5vw;
    margin-bottom: 1vw;

}

.music-title {
    font-size: 1.5vw;
    background-color: #030156;
    border: 3px solid black;
    border-radius: 20px;
    padding: 1vw 0vw 1vw 0vw;
    margin-top: 1vw;
}

.music-icon-container {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.music-icon {
    width: 3vw;
    margin: 1vw 1vw 1vw 1vw;
}

#now-playing {
    font-size: 1.5vw;
    text-align: center;
}

#audio {
    height: 2vw;
    width: 100%;
    min-width: 250px;
    max-width: 100%;
    margin-bottom: 0.5vw;
}

#music-next-btn,
#music-prev-btn {
    position: relative;
    overflow: hidden;
    color: #fff;
    font-weight: bolder;
    border: 1.5px solid #00f0ff;
    border-radius: 10px;
    padding: 0.8em;
    background-color: #030156;
    transition: color 0.3s ease-in-out;
}

#music-next-btn::before,
#music-prev-btn::before {
    content: "";
    position: absolute;
    background: #00f0ff;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: left 0.3s, color 0.3s ease-in-out;
}

#music-next-btn:hover,
#music-prev-btn:hover {
    color: #000;
}

#music-next-btn:hover::before,
#music-prev-btn:hover::before {
    left: 0;
    color: #000;
}

#music-next-btn:hover span,
#music-prev-btn:hover span {
    position: relative;
    z-index: 1;
}

@keyframes glowPulse1 {
    0%,
    100% {
        color: #000000;
        text-shadow: none;
    }

    50% {
        color: #e366ff;

    }
}