body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: linear-gradient(to bottom left, #1a005b , #2c0128);
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 20px;

}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #1a005b;
    
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(#ff00ff, #00f0ff);
    border-radius: 10px;
    box-shadow: 0 0 10px #ff00ff, 0 0 20px #00f0ff;
}

body::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#00f0ff, #ff00ff);
}

#page-nav {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 5px;
    z-index: 100;
    background-color: rgb(31, 4, 77);
}

.nav-element {
    position: relative;
    color: transparent;
    -webkit-text-stroke: 1px cyan;
    transition: all 0.3s ease;
    width: 100%;
    height: 40px;
    font-size: 2.5vw;
    padding-top: 20px;
    
}

.nav-element.active {
    -webkit-text-stroke: 1px hotpink;

}

.nav-element.active::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    right: 0;
    height: 3px;
    background: hotpink;
    box-shadow: 0 0 8px hotpink, 0 0 15px magenta;
    border-radius: 10px;
}

@media screen and (min-width:1000px){
    .nav-element {
        font-size: 1.5vw;
    }
}

.nav-element:hover {
    background-color: rgb(130, 10, 167);
    color: white;
    -webkit-text-stroke: 0px purple;
    transform: scale(1.1);
    box-shadow: 0px 4px 6px hotpink;
}

.hidden-cover {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: rgb(99, 0, 51);
    z-index: 5;
}
.eyes {
    height: 50px;
    width: 100%;
    background-repeat: no-repeat;
}

.pfp {
    height: 25vw;
    width: 25vw;
    margin-bottom: 30px;
    z-index: 4;
}

.landing-container {
    position: relative;
    height: 50vw;
    z-index: 1;

}

.landing-bg {
    position: absolute;
    background-image: url(/images/girl.gif);
    background-repeat: repeat-x;
    background-size: cover;
    background-color: #1a005b;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    opacity: 0.7;
}

.dev-quote {
    font-size: 3vw;
    margin-top: -30px;
}

section {
    padding: 20px;
    margin: 20px;
}

h1, h2 {
    font-weight: 400;
    font-style: normal;
    
}

.card-about {
    padding: 2em;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
    position: relative;
    
}
.bg-card {
    position: absolute;
    background-image: url(/images/boat.gif);
    background-repeat:repeat-x;
    background-size: cover;
    background-position: -80px;
    background-color: #1a005b;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    opacity: 0.5;
    border-radius: 20px;
}

.about-overlay {
    position: absolute;
    background-color: #1a005b;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -2;
    border-radius: 20px;
}

@media  screen and (min-width: 1000px) {
     .card-about {
        height: 500px;
        font-size: 35px;
    }
}

.about-bio {
    opacity: 100;

}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.card-about::after, .card-about::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: conic-gradient(from var(--angle), #2D00F7, #E500A4, #BC00DD, #8900F2, rgb(44, 44, 166));
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -3;
    padding: 3px;
    border-radius: 20px;
    animation: 3s spin linear infinite;
}
.card-about::before {
    filter: blur(1.5rem);
    opacity: 0.5;
    
}
@keyframes spin {
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

.title-page {
    position: relative;
    color: #00f0ff;
    font-weight: bold;
    font-size: 10vw;
    font-family: "Tiny5", sans-serif;
    margin-top: -25px;
    text-shadow: 0 0 3px #00f0ff, 0 0 7px #00f0ff;
}

.title-page::before,
.title-page::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    color: #fb32d0;
    clip-path: inset(0% 0% 0% 0%);
}

.title-page::before {
    animation: glitchTop 2s infinite linear alternate-reverse;
    color: #b340ff;
}

.title-page::after {
    animation: glitchBottom 2s infinite linear alternate-reverse;
}

/* Experience */

.exp-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4vw;
    padding: 50px 20px 50px 20px;
    z-index: 1;
}
.exp-row {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 4vw;
}

@media screen and (min-width: 1000px) {
    .exp-container {
    }
}

.exp-bg {
    position: absolute;
    background-image: url(/images/_\ \(4\).gif);
    background-repeat: repeat-x;
    background-size: cover;
    background-position: -150px;
    background-color: #1a005b;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    opacity: 0.5;
    border-radius: 20px;
}

.exp-overlay {
    position: absolute;
    background-color: #2a1137;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -2;
    border-radius: 20px;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.exp-container::after,
.exp-container::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: conic-gradient(from var(--angle), #110548, #480234, #3c0146, #390163, rgb(24, 24, 91));
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -3;
    padding: 3px;
    border-radius: 20px;
    animation: 3s spin linear infinite;
}

.exp-container::before {
    filter: blur(1.5rem);
    opacity: 0.5;

}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

.accordion {
    width: 100vh;

}

.accordion-item {
    margin-bottom: 5px;
    transition: transform 0.5s ease;
}

.accordion-item:hover {
    transform: scale(1.1);
}

.accordion-header {
    font-size: 2.5vw;
    background-color: #1a005b;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}



.accordion-content {
    /* display: block; */
    /* max-height: 1000px; */
    transition: max-height 0.6s ease;
    font-size: 2vw;
    padding: 10px;
    overflow: hidden;
    background-color: #0d0128;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    max-height: 0;
    display: none;
}



.accordion-content.active {
    display: block;
    max-height: 1000px;
}

.exp-side {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    
}

.skills-company-wrapper {
    
    padding: 10px 0px;
    border-radius: 10px;
}

.exp-company, 
.exp-skills, 
.exp-city, 
.exp-date {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.exp-content-wrapper {
    margin-top: 5px;
    padding: 10px 0px;
}

.exp-content {
    display: flex;
    flex-direction: row;
}


.exp-company,
.exp-skills,
.exp-city,
.exp-date,
.exp-content-wrapper {
    text-align: start;
    font-size: 2.5vw;
    font-weight: bold;
    text-shadow: 2px 1px 3px #5d20eb;
}


.resume-wrapper {
    position: relative;
    cursor: pointer;
    font-size: 2vw;
    animation-name: happy;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    margin-left: 85%;
    margin-top: 80px;
}

.resume-pdf {
    height: 5vw;
    margin-top: -15%;
}

@keyframes happy {
    0% {
        top: 0px;
        transform: scale(1);
    }

    25% {
        top: -10px;
        transform: scale(1.1, 0.9);
        /* stretch taller */
    }

    50% {
        top: 0px;
        transform: scale(1);
    }

    75% {
        top: 10px;
        transform: scale(0.9, 1.1);
        /* squash flatter */
    }

    100% {
        top: 0px;
        transform: scale(1);
    }
}


/* Skills */
.skills-wrapper {
    position: relative;
    max-height: 700px;
    z-index: 1;
}

.skills-overlay {
    background-color: #0d0128;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -2;
    border-radius: 20px;
}

.skills-bg {
    position: absolute;
    background-image: url(/images/_\ \(8\).gif);
    background-repeat: repeat-x;
    background-size: cover;
    background-position: -150px;
    background-color: #1a005b;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    opacity: 0.4;
    border-radius: 20px;
}


.skills-nav-container {
}

.skills-nav-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.skills-nav-btn {
    position: relative;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    font-size: 2vw;
    font-weight:600;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
    overflow: hidden;
    cursor: pointer;
    margin: 1vw 1vw 1vw 1vw;
}
.skills-nav-btn:hover {
    color: white;
    background-color: #43018a;
    font-size: 2vw;
    transform: scale(1.1);
    box-shadow: 0 0 20px #01b7ea, 0 0 30px #04d5fe;
}

@media screen and (min-width: 1000px){
    .skills-nav-btn {
        margin: 20px 20px 20px 20px;
        padding: 2vw;
    }
}

.skills-column {
    display: flex;
    flex-direction: row;
}

.tab-btn-wrapper {
    height: 100%;
    margin: auto;
    display: none;
}


.skills-tab {
    background-color: #210140;
    border-radius: 20px;
}

.radio-column {
    display: flex;
    flex-direction: row;
    font-size: 2vw;
    padding: 5px;
}

.radio-levels {
    padding-bottom: 20px;
}

.skills-radio {
    display: block;
    width: 1vw;
}

.skills-radio1 {
    display: block;
    width: 1vw;
}

.skills-content-container {
    width: 100%;
    height: 400px;
    overflow-y: auto;
    box-sizing: border-box;
}

.skills-content-container::-webkit-scrollbar {
    width: 10px;
}

.skills-content-container::-webkit-scrollbar-track {
    background: #1a005b;
    border-radius: 10px;
}

.skills-content-container::-webkit-scrollbar-thumb {
    background: linear-gradient(#ca80ff, #23025a);
    border-radius: 10px;
    box-shadow: 0 0 10px #7803aa, 0 0 20px #0088ff;
}

.skills-content-container::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#1500ff, #2e006f);
}

.grid {
    font-size: 3vw;
    display: grid;
    grid-template-columns: repeat(4, minmax(60px, 1fr));
    grid-auto-rows: minmax(60px, auto);
    gap: 20px;
    row-gap: 4rem;
    padding: 50px 20px 0px 0px;
    justify-content: center;
    align-content: start;
    margin-bottom: 150px;
}

@media screen and (max-width: 750px) {
    .grid {
        grid-template-columns: repeat(2, minmax(80px, 1fr));
        margin-bottom: 80px;
    }
}

@media screen and (min-width: 1000px) {
    .grid {
        font-size: 2vw;
    }
}

.skills-content-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.skills-icon {
    width: 5vw;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .skills-icon {
    margin: auto;
    }
}

/* Project */

/* Connect */

.connect-container {
    background-color: rgb(154, 115, 65);
    border: 5px solid black;
    padding: 30px;
}

.icon {
    height: 30px;
}

.connect-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

@keyframes glitchTop {
    0% {
        clip-path: inset(0% 0% 0% 0%);
        transform: translate(0, 0);
    }

    10% {
        clip-path: inset(0% 0% 1.5% 0%);
        transform: translate(-0.2vw, -0.2vw);
    }

    20% {
        clip-path: inset(0% 0% 0.5% 0%);
        transform: translate(0.2vw, 0.2vw);
    }

    100% {
        clip-path: inset(0% 0% 0% 0%);
        transform: translate(0, 0);
    }
}

@keyframes glitchBottom {
    0% {
        clip-path: inset(0% 0% 0% 0%);
        transform: translate(0, 0);
    }

    10% {
        clip-path: inset(2% 0% 2.5% 0%);
        transform: translate(0.2vw, 0.2vw);
    }

    20% {
        clip-path: inset(3% 0% 3.5% 0%);
        transform: translate(-0.2vw, -0.2vw);
    }

    100% {
        clip-path: inset(0% 0% 0% 0%);
        transform: translate(0, 0);
    }
}

h2 {
    position: relative;
    color: #00f0ff;
    font-weight: bold;
    font-size: 3rem;
    font-family: "Edu AU VIC WA NT Arrows", cursive;
    text-shadow: 0 0 3px #00f0ff, 0 0 7px #00f0ff;
}
