/*focus is desktop compatibility,
with mobile and tablet support.*/

@font-face {
    font-family: "Arcade";
    src: url("/fonts/ARCADECLASSIC.TTF");
}

/* General */

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: linear-gradient(to bottom left, #1a005b , #2c0128);
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 20px;
    font-family:"Jersey 20", sans-serif;
    cursor: url('/icons/heart.png') 20 20, auto;

}

a, button, input[type="radio"], label {
    cursor: url('/icons/heart-click.png') 20 20, auto;

}

.square {
    height: 14px;
    width: 14px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0px;
    pointer-events: none;
    z-index: 99999999;
}

@keyframes pixelShift {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(3px, 0);
    }

    50% {
        transform: translate(0, 3px);
    }

    75% {
        transform: translate(-3px, 0);
    }

    100% {
        transform: translate(0, -3px);
    }
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #1a005b;
    
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(#ff00ff, #00f0ff);
    border-radius: 10px;
    box-shadow: 0 0 10px #ff00ff, 0 0 20px #00f0ff;
}

body::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#00f0ff, #ff00ff);
}

.section {
    opacity: 0;
    transform: translateY(90px);
    transition: opacity 0.6s ease-out, transform 0.7s ease-out;
}
.section.visible {
    opacity: 1;
    transform: translateY(0);
}

h1,
h2 {
    animation: pixelShift 0.7s steps(1) infinite;
    font-weight: 400;
    font-style: normal;
}


h2 {
    position: relative;
    color: #00f0ff;
    font-weight: bold;
    font-size: 5vw;
    font-family: "Press Start 2P", system-ui;
    text-shadow: 1px 1px 10px hotpink;
    margin-top: 10vw;
    margin-bottom: 10vw;

}

#about,
#skills,
#projects,
#experience {
    padding: 20px;
    margin: 20px;
    margin-bottom: 80px;
}

/* eyes */

.hidden-cover {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: rgb(99, 0, 51);
    z-index: 5;
}

.eyes {
    height: 50px;
    width: 100%;
    background-repeat: no-repeat;
}

/*Nav Bar*/

#page-nav {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgb(31, 4, 77);
    padding: 5px;
    z-index: 100;
}

a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

.nav-element {
    position: relative;
    color: transparent;
    -webkit-text-stroke: 1px #00f0ff;
    transition: all 0.3s ease;
    width: 100%;
    height: 40px;
    font-size: 3vw;
    padding-top: 20px;
    
}

.nav-element.active::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    right: 0;
    height: 3px;
    background: hotpink;
    box-shadow: 0 0 8px hotpink, 0 0 15px magenta;
    border-radius: 10px;
}

#page-nav .nav-element:hover {
    background-color: rgb(8, 214, 255);
    color: rgb(85, 1, 100);
    -webkit-text-stroke: 0px purple;
    transform: scale(1.1);
    box-shadow: 0px 4px 6px rgb(255, 255, 255);
    z-index: 1;
}

#page-nav .nav-element.active a {
    color: rgb(31, 4, 77);
    -webkit-text-stroke: 1px hotpink;
    background-color: transparent;
}

#page-nav .nav-element.active:hover a {
    color: rgb(85, 1, 100) !important;
    -webkit-text-stroke: 0px purple !important;
    transform: scale(1.1);
}

@media screen and (min-width:1000px) {
    .nav-element {
        font-size: 1.5vw;
    }
}

/* Side Menu */

.side-menu-container {
    position: fixed;
    display: flex;
    flex-direction: row;
    right: 0;
    z-index: 3;
    margin-top: 1vw;
}

.side-menu {
    width: fit-content;
    background-color: #00f0ff;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
    transition: all 0.3s ease;
    flex-wrap: wrap;
    overflow: hidden;
    padding-top: 2vw;
    padding-bottom: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

.side-menu-btn {
    margin: auto;
    box-sizing: content-box;
    background-color:rgb(255, 106, 228);
    border: 3px solid rgb(36, 0, 20);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 17vw 0.1vw 17vw 0.1vw;
}

.side-menu-icon {
    width: 1.5vw;
}
.side-menu-btn.rotated .side-menu-icon {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.music-menu, .credit-menu {
    display: block;
    background-color: #39099b;
    border: 3px solid black;
    border-radius: 10px;
    padding-top: 0.1px;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1.5vw;
    margin-bottom: 1vw;
    
}

.music-title, .game-title, .credit-title {
    font-size: 1.5vw;
    background-color: #030156;
    border: 3px solid black;
    border-radius: 20px;
    padding: 1vw 0vw 1vw 0vw;
    margin-top: 1vw;
}
.game-title, .credit-title {
    text-decoration: underline;
}
.game-title:hover,
.credit-title:hover {
    color: #00f0ff;
    transition: color 0.5s ease-in;
}

.music-icon-container {
    display: flex;
    flex-direction: row;
    align-content: center;
}
.music-icon {
    width: 3vw;
    margin: 1vw 1vw 1vw 1vw;
}

#now-playing {
    font-size: 1.5vw;
    text-align: center;
}

#audio {
    height: 2vw;
    width: 100%;
    min-width: 250px;
    max-width: 100%;
    margin-bottom: 0.5vw;
}

#music-next-btn, #music-prev-btn{
    position: relative;
    overflow: hidden;
    color: #fff;
    font-weight: bolder;
    border: 1.5px solid #00f0ff;
    border-radius: 10px;
    padding: 0.8em;
    background-color: #030156;
    transition: color 0.3s ease-in-out;
}

#music-next-btn::before,
#music-prev-btn::before {
    content: "";
    position: absolute;
    background: #00f0ff;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: left 0.3s, color 0.3s ease-in-out;
}

#music-next-btn:hover,
#music-prev-btn:hover {
    color: #000;
}

#music-next-btn:hover::before,
#music-prev-btn:hover::before {
    left: 0;
    color: #000;
}

#music-next-btn:hover span,
#music-prev-btn:hover span{
    position: relative;
    z-index: 1;
}


/* Landing */

.landing-container {
    position: relative;
    z-index: 1;
}

.landing-bg {
    position: absolute;
    background-image: url(/images/girl.gif);
    background-repeat: repeat;
    background-size: cover;
    background-position: 0px 3vw;
    background-color: #1a005b;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    opacity: 0.7;
    padding-bottom: 5vw;
}

.pfp-wrapper {
    position: relative;
    width: fit-content;
    height: fit-content;
    filter: drop-shadow(0px 0px 3px #ff079c);
    animation: shoot 2s ease-out forwards;
    pointer-events: none;
    margin: auto;
    padding-right: 10vw;
    padding-left: 10vw;
}

.pfp {
    position: relative;
    height: 30vw;
    width: 30vw;
    z-index: 4;
    aspect-ratio: 1;
    object-fit: cover;
    --_m: radial-gradient(#000 69%, #0000 70%) 84.5%/50%;
    -webkit-mask-box-image: var(--_m);
    mask-border: var(--_m);
    clip-path: polygon(-41% 0, 50% 91%, 141% 0);
    margin-top: 4vw;

}

.sparkle {
    width: 1vw;
    height: 1vw;
    background: #ff5fe2;
    position: absolute;
    animation: fadeout 1.5s ease-out forwards;
    box-shadow:
        0 -6px #ffa7ef,
        0 6px #e494ff,
        -6px 0 #ffa7ef,
        6px 0 #a8f9ff,
        0 0 0 1px #000;
}

@media screen and (min-width: 800px){
    .sparkle {
        width: 0.5vw;
        height: 0.5vw;
    }
}

@keyframes shoot-left {
    0% {
        transform: translateX(0) translateY(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-100px) translateY(-50px) scale(1.3) rotate(-45deg);
        opacity: 0;
    }
}

@keyframes shoot-right {
    0% {
        transform: translateX(0) translateY(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(100px) translateY(-50px) scale(1.3) rotate(45deg);
        opacity: 0;
    } 
}

/* title */

.title-page {
    position: relative;
    color: #00f0ff;
    font-weight: bold;
    font-size: 10vw;
    font-family: "Tiny5", sans-serif;
    text-shadow: 0 0 3px #00f0ff, 0 0 7px #00f0ff;
    margin-top: -2vw;
}

.title-page::before,
.title-page::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    color: #ff51d9;
    clip-path: inset(0% 0% 0% 0%);
}

.title-page::before {
    animation: glitchTop 2s infinite linear alternate-reverse;
    color: #b340ff;
}

.title-page::after {
    animation: glitchBottom 2s infinite linear alternate-reverse;
}

/* quote */

.dev-quote-wrapper {
    font-size: 3vw;
    color: #ffe9fa;
    background-color: rgb(000, 000, 000, 0.3);
    text-shadow: 0.1vw 0.1vw rgb(247, 148, 229);
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -4vw;
    padding: 1px 2vw;
}


/* About */
.about-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    text-shadow: 0.2vw 0.1vw 1px rgb(89, 1, 59);
}

.card-title1 {
    font-size: 3vw;
    text-decoration: underline;
}

.card-about1 img {
    width: 25vw;
    opacity: 0.8;
    border-radius: 10px;
}

.about-bio1 {
    font-size: 2vw;
}
.about-span {
    font-size: larger;
    color: rgb(246, 110, 132);
}


.card-about1 {
    padding: 3vw;
    text-align: center;
    border-radius: 20px;
    position: relative;
    min-width: 250px;
    height: fit-content;
}

.bg-card1 {
    position: absolute;
    background-image: url(/images/boat.gif);
    background-repeat:repeat-x;
    background-size: cover;
    background-position: -750px;
    background-color: #1a005b;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    opacity: 0.4;
    border-radius: 20px;
}

.about-overlay1 {
    position: absolute;
    background-color: #1a005b;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -2;
    border-radius: 20px;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.card-about1::after, .card-about1::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: conic-gradient(from var(--angle), #2D00F7, #E500A4, #BC00DD, #8900F2, rgb(44, 44, 166));
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -3;
    padding: 3px;
    border-radius: 20px;
    animation: 3s spin linear infinite;
}
.card-about1::before {
    filter: blur(1.5rem);
    opacity: 0.5;
    
}
@keyframes spin {
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

/* card 2*/

.about-right-side {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.card-about2 {
    position: relative;
    text-align: center;
    border-radius: 20px;
    padding: 1vw;
}

.card-title2 {
    font-size: 3vw;
    text-decoration: underline;
}

.about-bio2 {
    font-size: 2vw;
}

.bg-card2 {
    position: absolute;
    background-image: url(/images/_\ \(10\).gif);
    background-repeat: repeat-x;
    background-size: cover;
    background-position: -80px;
    background-color: #1a005b;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    opacity: 0.3;
    border-radius: 20px;
}

.about-overlay2 {
    position: absolute;
    background-color: #1a005b;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -2;
    border-radius: 20px;
}

.card-about2::after,
.card-about2::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: conic-gradient(from var(--angle), #f70080, #E500A4, #BC00DD, rgb(212, 54, 156));
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -3;
    padding: 3px;
    border-radius: 20px;
    animation: 3s spin linear infinite;
}

.card-about2::before {
    filter: blur(1.5rem);
    opacity: 0.5;

}

/* card 3*/

.card-about3 {
    position: relative;
    text-align: center;
    border-radius: 20px;
    padding: 2vw;
    min-width: 500px;
}

.card-title3 {
    font-size: 3vw;
    text-decoration: underline;
}

.about-bio3 ul, li {
    text-align: center;
    font-size: 2vw;
    padding-bottom: 1vw;
}

.about-bio3-list::marker {
    content: "⭐️";
}

.bg-card3 {
    position: absolute;
    background-image: url(/images/8Bit\ _\ Metro\ _\ People.gif);
    background-repeat: repeat-x;
    background-size: cover;
    background-position: -80px;
    background-color: #1a005b;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    opacity: 0.4;
    border-radius: 20px;
}

.about-overlay3 {
    position: absolute;
    background-color: #1a005b;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -2;
    border-radius: 20px;
}

.card-about3::after,
.card-about3::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: conic-gradient(from var(--angle), #2D00F7, #00e5b0, #00f251, #974eeb, rgb(44, 44, 166));
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -3;
    padding: 3px;
    border-radius: 20px;
    animation: 3s spin linear infinite;
}

.card-about3::before {
    filter: blur(1.5rem);
    opacity: 0.5;

}

@media screen and (min-width: 900px) {
    .about-container {
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 700px) {
    .bg-card1 {
        background-position: -400px;
    }

    .card-title1 {
        font-size: 5vw;
    }
    .about-bio1 {
        font-size: 4vw;
    }

    .about-bio2 {
        font-size: 4vw;
    }

    .card-about3 {
        min-width: 100px;
    }

    .about-bio3 {
        font-size: 3vw;
    }

    .card-title2,
    .card-title3 {
        font-size: 4vw;
    }
}

/* Experience */

.exp-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4vw;
    box-shadow: 1px 2px 20px #0674c3;
    padding: 13vw 4vw 9vw 4vw;
    z-index: 1;
    border-radius: 20px;
    
}
.exp-row {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 8vw;
}


.exp-bg {
    position: absolute;
    background-image: url(/images/_\ \(11\).gif);
    background-repeat: repeat-x;
    background-size: cover;
    background-position: -150px;
    background-color: #1a005b;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    opacity: 0.5;
    border-radius: 20px;
}

.exp-overlay {
    position: absolute;
    background-color: #2a1137;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -2;
    border-radius: 20px;
}

.exp-container::after,
.exp-container::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: conic-gradient(from var(--angle), #110548, #065cc6, #0f0cb7, #047ace, rgb(24, 24, 91));
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -3;
    padding: 3px;
    border-radius: 20px;
    animation: 3s spin linear infinite;
}

.exp-container::before {
    filter: blur(1.5rem);
    opacity: 0.5;
    

}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

.accordion {
    width: 100vh;

}

.accordion-item {
    margin-bottom: 10px;
    transition: transform 0.5s ease;
}

.accordion-item:hover {
    transform: scale(1.1);
}

.accordion-header {
    font-size: 2.5vw;
    background-color: #0083d4;
    padding: 10px;
    cursor: url('/icons/heart-click.png') 20 20, pointer;
    font-weight: bold;
    text-shadow: 0px 0px 2px black;
    color: white;
    border: 5px inset rgb(4, 72, 155);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 0px 10px rgb(37, 132, 180);
}

.accordion-content {
    transition: max-height 0.6s ease;
    font-size: 2vw;
    padding: 10px;
    overflow: hidden;
    background-color: #0d0128;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: fit-content;
    min-width: fit-content;
    display: none;
}


.accordion-content.active {
    display: block;
    max-height: 1000px;
}

.exp-side {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 3px solid #0674c3;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #0674c3;
    padding: 5vw;
}

@media screen and (max-width: 600px) {
    .exp-row {
        flex-wrap: wrap;
    }
    .exp-side {
        margin: auto;
    }
}

.exp-side-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #110548;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 10px;
    z-index: -1;
}


.exp-company, 
.exp-skills, 
.exp-city, 
.exp-date {
    margin-bottom: 4vw;
    display: flex;
    flex-direction: row;

}

.exp-content-wrapper {
    margin-top: 5px;
    padding: 10px 0px;
}

.exp-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.exp-company {
    flex-wrap: wrap;
}

.exp-skills {
    flex-wrap: wrap;
}


.exp-company,
.exp-skills,
.exp-city,
.exp-date,
.exp-content-wrapper {
    text-align: start;
    font-size: 2.5vw;
    font-weight: bold;
}


.resume-wrapper {
    position: relative;
    cursor: url('/icons/heart-click.png') 20 20, pointer;
    font-size: 2vw;
    animation-name: bounce;
    animation-duration: 2s;
    transform: translateY(0px);
    animation-iteration-count: infinite;
    margin-left: 85%;
    margin-top: 80px;
}

.resume-pdf {
    height: 5vw;
    margin-top: -15%;
}

@keyframes bounce {
    0% {
        top: 0;
        -webkit-animation-timing-function: ease-in;
    }

    30% {
        top: 4vw;
        -webkit-animation-timing-function: ease-in;
    }

    50% {
        top: 6vw;
        -webkit-animation-timing-function: ease-in;
    }

    70% {
        top: 4vw;
        -webkit-animation-timing-function: ease-out;
    }

    100% {
        top: 0;
        -webkit-animation-timing-function: ease-out;
    }
}


/* Skills */
.skills-container {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    align-content: center;
    overflow: hidden;
    border: 3px solid black;
    border-radius: 15px;
    box-shadow: 2px 4px 20px #9463ff;
}


.skills-overlay {
    position: absolute;
    background-color: #0d0128;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -2;
    border-radius: 10px;
}

.skills-bg {
    position: absolute;
    background-image: url(/images/_\ \(8\).gif);
    background-repeat: repeat-x;
    background-size: cover;
    background-position: -10px;
    background-color: #1a005b;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    opacity: 0.4;
    border-radius: 10px;
}


.skills-nav-container {
    display: flex;
    flex-direction: row;
}


.skills-nav-header {
    display: flex;
    flex-direction: row;
    margin-right: 1vw;
    padding-top: 2.5vw;
    padding-bottom: 3vw;
}

.skills-nav-btn {
    position: relative;
    border-radius: 5px;
    border: 2px solid black;
    height: 40px;
    font-size: 2vw;
    font-family:"Jersey 20", sans-serif;
    font-weight:600;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
    overflow: hidden;
    cursor: url('/icons/heart-click.png') 20 20, pointer;
    width: 100%;
    padding: auto;
    margin-right: 2vw;
}
.skills-nav-btn:hover {
    color: white;
    background-color: #43018a;
    font-size: 2vw;
    text-shadow: 1px 1px 0px black;
    transform: scale(1.1);
    box-shadow: 0 0 20px #01b7ea, 0 0 30px #04d5fe;
    transition: background-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out, transform 0.4s ease-in-out, color 0.4s ease-in-out, text-shadow 0.4s ease-in-out;
}

@media screen and (min-width: 1000px){
    .skills-nav-btn {
        padding: 2vw;
    }
}


.skills-tab {
    flex: 1 1 250px; 
    max-width: 80vw;
    box-sizing: content-box;
    background-color: #220051;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    opacity: 1;
    overflow: hidden;
    transition: width 1s ease, opacity 1s ease;
}
.active-skill-tab {
    background-color: #02459d !important;
    color: white !important;
    text-shadow: 1px 1px 0px black;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out, text-shadow 1s ease-in-out;
}
.tab-btn-wrapper {
    background-color: #410b82;
    height: 100%;
    width: 15%;
    display: flex;
    border-right: 3px solid black;
    cursor: url('/icons/heart-click.png') 20 20, pointer;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 2vw;
}
.tab-btn-wrapper.collapsed {
    overflow: hidden;
    transition: display 2s ease;
    width: 3.5vw;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.tab-btn-wrapper.collapsed .skills-tab {
    display: none;
    transition: display 2s ease;
}

.tab-btn-icon {
    width: 20px;
    rotate: -180deg;
    transition: transform 0.3s ease;
}
.tab-btn-icon.rotated {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.skills-nav-and-radio {
    display: flex;
    flex-direction: row;
}

.radio-column {
    display: flex;
    flex-direction: row;
    align-content: center;
    font-size: 80%;
    padding: 10px;
    padding-right: 3vw;
}

.radio1, .radio2{
    max-width: 200px;
    background-color: #100020;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
} 

.skills-radio1, .skills-radio2 {
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    min-width: 1rem;
    height: 1rem;
    border: 3px solid #9463ff;
    border-radius: 50%;
    transition: box-shadow 0.3s ease;
    margin-right: 1.5vw;
}

.skills-radio1:checked, .skills-radio2:checked {
    border: 3px solid #f97edf;
    box-shadow: 0 0 5px #f97edf,
        0 0 10px #f97edf,
        0 0 20px #f97edf;
}

.skills-content-container {
    width: 100%;
    height: 400px;
    overflow-y: auto;
    box-sizing: border-box;
    padding-left: 7vw;
    padding-right: 7vw;
}

.skills-content-container::-webkit-scrollbar {
    width: 10px;
}

.skills-content-container::-webkit-scrollbar-track {
    background: #1a005b;
    border-radius: 10px;
}

.skills-content-container::-webkit-scrollbar-thumb {
    background: linear-gradient(#ca80ff, #23025a);
    border-radius: 10px;
    box-shadow: 0 0 10px #7803aa, 0 0 20px #0088ff;
}

.skills-content-container::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#23025a, #ca80ff);
}

.grid {
    font-size: 3vw;
    display: grid;
    grid-template-columns: repeat(4, minmax(60px, 1fr));
    grid-auto-rows: minmax(60px, auto);
    gap: 20px;
    row-gap: 7rem;
    padding: 50px 10px;
    justify-content: center;
    align-content: start;
    margin-bottom: 150px;
}

@media screen and (max-width: 600px) {
    .radio1,
    .radio2 {
        font-size: 50%;
    }
}

@media screen and (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, minmax(80px, 1fr));
        margin-bottom: 80px;
    }
}

@media screen and (min-width: 1000px) {
    .grid {
        font-size: 2vw;
    }
}

.skills-content-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.skills-icon {
    width: 5vw;
    margin: auto;
}


/* Project */

.project-container {
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 10px;
    animation: glowPulse1 5s infinite ease-in-out;
    box-shadow: 1px 1px 20px #6f1892;
    padding: 2vw;
}

.project-bg {
    position: absolute;
    background-image: url(/images/_\ \(6\).gif);
    background-repeat: repeat-x;
    background-size: cover;
    background-position: -10px;
    background-color: #1a005b;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    opacity: 0.4;
    border-radius: 10px;
}

.project-container::after,
.project-container::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: conic-gradient(from var(--angle), #7d0485, #fc67d9, #ce2dbb, #e12fe4, rgb(104, 4, 90));
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -3;
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}

.project-container::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

.project-overlay {
    background-color: #0d0128;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -2;
    border-radius: 10px;
}

.carousel {
    overflow: hidden;
    width: 100%;
    max-width: 1000px;
    margin: auto;

}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    
}

.carousel-slide img,
.carousel-slide video {
    width: 100%;
    max-height: 400px;
    object-fit: contain;
    border-radius: 12px;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(253, 137, 255, 0.448);
    border: 3px solid #000;
    border-radius: 5px;
    box-shadow: 2px 1px 0px #731b50;
    font-size: 4vw;
    cursor: url('/icons/heart-click.png') 20 20, pointer;
    margin: 0.5vw;
    padding: 0.5vw;
    z-index: 2;
}

.prev {
    left: 0px;
}

.next {
    right: 0px;
}


/* Connect */

.connect-container {
    position: relative;
    font-family: "Jersey 20", sans-serif;
    display: flex;
    flex-direction: column;
    border-left: 1vw solid #00f0ff;
    border-right: 1vw solid rgb(255, 78, 231);
    border-top: 1vw solid rgb(185, 109, 255);
    box-sizing: border-box;
    border-radius: 10px;
}
.connect-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    gap: 100px;
}

.connect-bg {
    position: absolute;
    background-image: url(/images/_\ \(9\).gif);
    background-repeat: repeat-x;
    background-size: cover;
    background-position: -10px;
    background-color: #1a005b;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    opacity: 0.4;
    border-radius: 10px;
}

.connect-overlay {
    background-color: #0d0128;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -2;
    border-radius: 10px;
}

.social-title {
    margin-bottom: 50px;
}

.social-title, .leave-title {
    background-color: #100020;
    padding: 20px;
}

.icon {
    height: 30px;
    cursor: url('/icons/heart.png') 20 20, pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
}
.icon:hover {
    transform: scale(1.2) rotate(20deg);
    filter: brightness(1.2); 
    border-radius: 5px;
}

.socials-container {
    padding: 30px;
    padding-left: 5vw;
    padding-right: 5vw;
}

.socials-container, .message-container {
    background-color: rgb(30, 0, 64);
    border: 5px solid rgb(102, 177, 234);
    border-radius: 20px;

}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}
.social-preference {
    margin-top: -1.2vw;
}

.social-number, .social-preference {
    animation: glowPulse3 4s infinite ease-in-out;
}

/* Form */

.message-form {
    display: flex;
    flex-direction: column;
}
.message-container {
    padding: 2vw 6vw;
    margin-bottom: 60px;
}

.input {
    padding: 0.5vw 2vw;
    text-align: start;
    text-align: center;
    cursor: url('/icons/heart.png') 20 20;
}

#users-name,
#users-email,
#users-message {
    color: #00f0ff;
    border: 2px solid rgb(248, 154, 255);
    border-radius: 3px;
    background-color: #382049;
}

#users-name:hover,
#users-email:hover,
#users-message:hover,
#users-name:focus,
#users-email:focus,
#users-message:focus {
    border: none;
    border-radius: 3px;
    outline-color: #00f0ff;
    outline-style: solid;
    outline-width: 2px;
    transition: outline 0.5s ease-in-out, border 0.5s ease-in-out ;
}

.input,
#users-message {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    cursor: url('/icons/heart.png') 20 20, crosshair;
}

#users-message {
    padding: 2vw;
    resize: vertical;
    
}


#users-name, #users-email, #users-message, .form-btn{
    margin-bottom: 1vw;
}

.form-btn {
    position: relative;
    overflow: hidden;
    margin: auto;
    font-size: 1vw;
    font-family: "Press Start 2P", system-ui;
    text-align: center;
    font-weight: bolder;
    color: #fff;
    border: 2px solid #00f0ff;
    border-radius: 5px;
    padding: 0.8em;
    background: transparent;
    transition: color 0.3s ease-in-out;
}

.form-btn::before {
    content: "";
    position: absolute;
    background: #00f0ff;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: left 0.3s, color 0.3s ease-in-out; 
}

.form-btn:hover {
    color: #000;
}

.form-btn:hover::before {
    left: 0;
}

.form-btn span {
    position: relative;
    z-index: 1;     
}

/* Messages */
#messages {
    display: block;
}

.messages-list {
    list-style: none;
    font-size: 0.5vw;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
    margin: auto;
}

.messages-list li::marker {
    content: '🩵';
}

.messages-list button {
    position: relative;
    overflow: hidden;
    color: #fff;
    font-weight: bolder;
    font-family: "Press Start 2P", system-ui;
    border: 2px solid #00f0ff;
    border-radius: 5px;
    padding: 0.8em;
    background: transparent;
    transition: color 0.3s ease-in-out;
}
.messages-list button::before{
    content: "";
    position: absolute;
    background: #00f0ff;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: left 0.3s, color 0.3s ease-in-out;
}

.messages-list button:hover {
    color: #000;
}

.messages-list button:hover::before {
    left: 0;
    color: #000;
}

.messages-list span {
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 600px){
    .message-form, .messages-list {
        font-size: 5vw;
    }
}

@media (max-width: 768px) {
    .form-btn {
        width: 15vw;
        font-size: 2vw;}

    .socials-container {
        padding: 20px;
    }
    .socials {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .connect-section {
        flex-direction: column;
        align-items: center;
    }
}

/* Dialog */

.bell-container img {
    position: fixed;
    width: 5vw;
    bottom: 0;
    right: 0;
    padding: 1em;
    z-index: 3;
}

#dialog {
    display: none;
}

.dialog-container {
    position: fixed;
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 96vw;
    bottom: 0;
    text-shadow: 1px 1px 1px black;
    background-color: #120137;
    box-sizing: content-box;
    border: 3px solid black;
    border-radius: 15px;
    overflow: hidden;
    margin: 5px ;
    z-index: 5;
}

.dialog-img-wrapper {
    padding: 1vw;
    width: 12vw;
    border-radius: 15px;
}

.dialog-img {
    width: 12vw;
    border-radius: 15px;
}

.dialog-textbox {
    background-color:#120137;
    width: 100%;
}

.dialog-textbox-top {
    display: flex;
    flex-direction: row;
}

.dialog-textbox-top h4 {
    width: 20vw;
    background-color:#39099b;
    font-size: 2.5vw;
    border-right: 3px solid black;
    border-left: 3px solid black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0;
    padding-top: 1vw;
    padding-bottom: 0.5vw;
}

.dialog-textbox-top img {
    width: 2vw;
    background-color: #abafff;
    border-left: 3px solid black;
    cursor: url('/icons/heart-click.png') 20 20, pointer;
    margin-left: auto;
    padding-right: 2vw;
    padding-left: 2vw;
}

.dialog-textbox-bottom {
    height: 100%;
    font-size: 2vw;
    text-align: left;
    background-color: #220051;
    border-top: 3px solid black;
    border-left: 3px solid black;
    margin: 0;
    padding-left: 1vw;
    padding-top: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vw;
}

.dialog-textbox-bottom p {
    background-color: #1d0133;
    margin: 0;
    border-radius: 10px;
    padding-left: 2vw;
    padding-top: 2vw;
    padding-right: 2vw;
    padding-bottom: 3.5vw;
}

footer {
    font-family: "Press Start 2P", system-ui;
    font-size: 1vw;
    animation: glowPulse2 3s infinite ease-in-out;
    padding-bottom: 1vw;
}

@keyframes glitchTop {
    0% {
        clip-path: inset(0% 0% 0% 0%);
        transform: translate(0, 0);
    }

    10% {
        clip-path: inset(0% 0% 1.5% 0%);
        transform: translate(-0.2vw, -0.2vw);
    }

    20% {
        clip-path: inset(0% 0% 0.5% 0%);
        transform: translate(0.2vw, 0.2vw);
    }

    100% {
        clip-path: inset(0% 0% 0% 0%);
        transform: translate(0, 0);
    }
}

@keyframes glitchBottom {
    0% {
        clip-path: inset(0% 0% 0% 0%);
        transform: translate(0, 0);
    }

    10% {
        clip-path: inset(2% 0% 2.5% 0%);
        transform: translate(0.2vw, 0.2vw);
    }

    20% {
        clip-path: inset(3% 0% 3.5% 0%);
        transform: translate(-0.2vw, -0.2vw);
    }

    100% {
        clip-path: inset(0% 0% 0% 0%);
        transform: translate(0, 0);
    }
}

/* glow animation */
@keyframes glowPulse1 {

    0%,
    100% {
        color: #007281;
        text-shadow: none;
    }

    50% {
        color: #00f0ff;

    } 
}

@keyframes glowPulse2 {

    0%,
    100% {
        color: #090022;
        text-shadow: none;
    }

    50% {
        color: #e1fdff;

    }
}

@keyframes glowPulse3 {

    0%,
    100% {
        color: #737e82;
        text-shadow: none;
    }

    50% {
        color: #e1fdff;

    }
}